@font-face{font-family:kalam;
				src:url('Kalam-Regular.ttf')
				format('truetype');}
				
main{font-family:sans-serif;
margin:auto;
max-width:1000px;}

header{color:white;
text-align:center;
font-size:6vw;
margin:-66px -8px 0px -8px;
min-height:20vh;
max-height:96vh;
background-color:black;
background-image:url('img3.jpg');
background-repeat:no-repeat;
background-size:cover;
padding:100px;}

nav > p{font-size:2em;
background-color:#5b5b5b;
color:white;
height:100px;
width:300px;
line-height:100px;
text-align:center;
border-radius:100px;
margin:50px 0px 0px 50px;}

h1{font-family:kalam;
}

article{font-size:2em;
padding:15vh 30px 15vh 30px;
line-height:60px;
max-height:96vh;}

img{border-radius:20px;}

#art1{display: flex;
align-items: center;}

#art2{color:white;
bacground-color:white;
background-image:url('imagem2.jpg');
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;
background-position:center center;
margin-right:-8px;
margin-left:-8px;}

#art4{background-color:#e7ed00;
margin-right:-8px;
margin-left:-8px;}

#minhaft{height:40vw;}

#p1{margin-left:25px;}

footer{font-family:sans-serif;
text-align:center;
font-size:1.8em;
background-color:#9d9d9d;
margin: 0px -8px -66px -8px;
padding:50px;}

#versão{text-align:right;}

a{color:black;
text-decoration: none;
font-weight:bold;}
