h1, h2, p, img{animation-name:iniciar;
animation-duration:0.3s;}

main{font-family:sans-serif;
margin:auto;}

header{color:white;
font-size:6vw;
font-family:kalam;
margin:-8px -8px 0px -8px;
height:30vh;
background-color:black;
background-image:url('img3.jpg');
background-repeat:no-repeat;
background-size:cover;
display:flex;
justify-content:center;
align-items:center;}

nav > p{font-size:2.2em;
background-color:#5b5b5b;
color:white;
height:100px;
width:300px;
line-height:100px;
text-align:center;
border-radius:100px;
margin:50px 0px 0px 50px;}

#curs{animation-name:curs;
animation-duration:.6s;
animation-iteration-count:infinite;}

aside{font-size:2.2em;
margin-top:90px;
margin-left:30px;
color:#d9cd00;
display:flex;}

#text{width:0px;
white-space:nowrap;
overflow:hidden;
animation-name:text;
animation-duration:5s;
animation-delay:2s;
animation-timing-function:steps(30);
animation-fill-mode:forwards;}

article{font-size:2em;
padding:0px 30px 0px 30px;
line-height:60px;
max-height:96vh;
min-height:55vh;
display: flex;
flex-direction:column;
justify-content:center;
align-items:flex-start;}

#art1{flex-direction:row;
align-items:center;}

#art2{color:white;
bacground-color:white;
background-image:url('imagem2.jpg');
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;
background-position:center center;
margin-right:-8px;
margin-left:-8px;}

#art4{background-color:#e7ed00;
margin-right:-8px;
margin-left:-8px;}

#minhaft{height:40vw;
border-radius:20px;}

#p1{margin-left:25px;}

footer{font-family:sans-serif;
text-align:center;
font-size:1.8em;
background-color:#9d9d9d;
margin: 0px -8px -66px -8px;
padding:50px;}

#versão{text-align:right;}

a{colorblack;
text-decoration: none;
font-weight:bold;}


@font-face{font-family:kalam;
				src:url('Kalam-Regular.ttf')
				format('truetype');}


@media (min-width:990px), (orientation:landscape) {
     header{height:100vh;
     font-size:2.5em;}

				article{font-size:1em;
				min-height:76vh;
				line-height:30px;
				padding:100px 20vw 100px 20vw;}
				
				footer{font-size:0.8em;}
				
				nav > p{font-size:1em;
				height:50px;
				width:150px;
				line-height:50px;}
				
				#minhaft{height:80vh;}
}


@keyframes iniciar {
				from {
							transform:translatex(-200px);
				}
				to {
								transform:translatex(0px);
				}
}


@keyframes curs {
				0% {
								color:#d9cd00;
				}
				49% {
								color:#d9cd00;
				}
				50% {
								color:rgba(0,0,0,0)
				}
				100% {
								color:rgba(0,0,0,0)
				}
}


@keyframes text {
				from {
								width:0px;
				}
				to {
								width:750px;
				}
}
